// Sample for config.js

// copy to config.js and edit settings as needed

var config = {};

//Enable RCON
config.rconEnabled = 0
config.addr = '127.0.0.1'
config.port = '28016'
config.pass = 'mypassword'

config.discordEnabled = 0
config.discordAPI = 'myApplicationApiDiscordKey'
config.discordID = 'myApplicationDiscordID'
config.discordRooms = [{general : "general", chat : "chat", rcon : "rcon", bot : "bot", log : "log"}]

// Dont fuck with these unless you know what you are doing
config.logFiles = [{rustbot: "rustbot", chat: "chat", rcon: "rcon", discord: "discord", connect: "connect", websocket: "websocket", rust: "rust"}]
config.reDir = ['logs','exLog','lib','matchers']
config.logFileLocation = './logs/'
config.reDir = ["logs","lib","matchers","websocket"]

module.exports = config;